<%- include('./header') %>

<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <h3>Selamat Datang di E-Lobster</h3>
      <img src="https://i.cbc.ca/1.5477616.1582763357!/cumulusImage/httpImage/image.jpg_gen/derivatives/16x9_780/lobsters.jpg" alt="" srcset="" class="img-fluid w-100">
      <br>
    </div>
    <div class="col-10 mt-3">
      <h3>Produk Kami</h3>
      <div class="row">
        <% result.forEach((data, i) => { %>
        <div class="col-4">
          <div class="card my-2 __item-card shadow-sm ">
            <img src="<%= data.image %>" height="200" alt="<%= data.name %>" />
            <div class="card-body">
              <h5 class="card-title __title-item-card"><%= data.name %></h5>
              <span class="badge text-bg-warning">Stok : <%= data.stock %></span>
              <span class="badge text-bg-success">Kategori : <%= data.category.name %></span>
              <br>
              <div class="col-12">
                <a href="/transactions/create" class="mt-3 btn btn-primary">Beli Sekarang</a>
                <label for="" style="font-weight: 800; float:right" class="mt-4">
                  <%= Intl.NumberFormat("id-ID", {
                    style: "currency",
                    currency: "IDR",
                    minimumFractionDigits: 0
                  }).format(data.price) %>
                </label>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
